[user]
	name = &(NAME)
	email = &(EMAIL)
[color "status"]
	untracked = cyan
[core]
	pager = less
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[alias]
	ci = commit -v
	co = checkout
	l = log --graph --decorate --oneline
	s = status
	d = diff
	dc = diff --cached
[merge]
	tool = vimdiff
