! ---------------------------------------------------------------------
! Excerpt from "man xrdb":
!
!       SRVR_name
!               the  SERVERHOST  hostname  string  turned  into a legal
!               identifier.  For example, "my-dpy.lcs.mit.edu"  becomes
!               SRVR_my_dpy_lcs_mit_edu.
!
! So, if you want to apply some settings only to a certain machine, do
! it that way:
!
! #ifdef SRVR_jupiter
! ... only on host jupiter ...
! #else
! #endif
!
! This is easier than using SERVERHOST directly because there is no need
! to define a symbol for each host.
!


! ---------------------------------------------------------------------
! Mauszeiger

Xcursor.theme: default
Xcursor.theme_core: true
Xcursor.size: 16


! ---------------------------------------------------------------------
! XTerm

XTerm.vt100.geometry: 80x25

! Eh klar.
XTerm*loginShell: true
XTerm*saveLines: 10000
XTerm*internalBorder: 0

! Bell settings.
XTerm*bellIsUrgent: true

! Scrolling.
XTerm*allowScrollLock: true

! Bei Alt+Enter nicht in Fullscreen gehen. Für solche Funktionen ist der
! Window Manager zuständig und ich haue ständig fälschlicherweise
! drauf...
XTerm*omitTranslation: fullscreen

! Ohne XFT! Schnell!
! Notiz für die Zukunft: Egal, wie oft du es probierst, mit deiner
! jetzigen Hardware ist XFT zu langsam. Es flackert. Du wirst dich nicht
! daran gewöhnen.
XTerm*font3: -xos4-terminus-medium-*-*-*-12-*-*-*-*-*-iso10646-*
#ifdef SRVR_sedna
XTerm*font:  -xos4-terminus-medium-*-*-*-12-*-*-*-*-*-iso10646-*
#else
XTerm*font:  -*-vga-*-*-*-*-16-*-*-*-*-*-iso10646-*
#endif
XTerm*font4: -xos4-terminus-medium-*-*-*-16-*-*-*-*-*-iso10646-*
XTerm*font5: -xos4-terminus-medium-*-*-*-24-*-*-*-*-*-iso10646-*
XTerm*font6: -xos4-terminus-medium-*-*-*-32-*-*-*-*-*-iso10646-*

! Farben, based on Thayer:
! http://cinderwick.ca/files/configs/Xdefaults
XTerm*background:  #000000
XTerm*foreground:  #aaaaaa
XTerm*cursorColor: #00FF00
! Black
XTerm*color0:      #0e0e0e
XTerm*color8:      #555753
! Red
XTerm*color1:      #ff6565
XTerm*color9:      #cf0000
! Green
XTerm*color2:      #93d44f
XTerm*color10:     #00cf00
! Yellow
XTerm*color3:      #eab93d
XTerm*color11:     #ffc123
! Blue
XTerm*color4:      #204a87
XTerm*color12:     #3465a4
! Mangenta
XTerm*color5:      #ce5c00
XTerm*color13:     #f57900
! Cyan
XTerm*color6:      #89b6e2
XTerm*color14:     #46a4ff
! White
XTerm*color7:      #cccccc
XTerm*color15:     #ffffff

! Bold wie am Linux VT: Grundsätzlich gibt es keine fetten Zeichen (die
! sehen mit dem VGA-Font furchtbar aus bzw. gehen mit kleinem Terminus
! gar nicht). Wurde explizit eine Farbe gesetzt und dann noch bold, dann
! nimm die "Bold-Farbe" (alte Farbe + 8). Wurde gar keine Farbe gesetzt,
! nimm weiß (= Farbe 15).
XTerm*boldMode:     false
XTerm*colorBDMode:  true
XTerm*colorBD:      #FFFFFF

! UTF-8 im Titel:
XTerm*utf8Title: 1

! Unbedingt notwendig, sonst ist Alt+<key> = ä oder so
XTerm*metaSendsEscape: true

! Gib der Welt bescheid, dass du 256 Farben kannst
XTerm*termName: xterm-256color

! Keybindings:
XTerm*VT100.Translations: #override \
		Shift<Key>Prior: scroll-back(1,halfpage) \n\
		Shift<Key>Next: scroll-forw(1,halfpage) \n\
		Shift<Key>Up: scroll-back(1,line) \n\
		Shift<Key>Down: scroll-forw(1,line) \n\
		Ctrl<Key>plus: larger-vt-font() \n\
		Ctrl<Key>minus: smaller-vt-font() \n

! URLs
XTerm*on2Clicks: regex [^/@ \n]+
XTerm*on3Clicks: regex [^ \n]+
XTerm*on4Clicks: regex [^#$]+
XTerm*on5Clicks: line

! Zeige den Mauscursor immer an.
XTerm*pointerMode: 0


! ---------------------------------------------------------------------
! "support" flavour of mcabberrc

xterm-jabbersupport*background: #001122
xterm-jabbersupport*color0: #001122


! ---------------------------------------------------------------------
! Fullscreen-XTerm

xterm-fullscreenwork*internalBorder: 0
xterm-fullscreenwork*font: -xos4-terminus-medium-*-*-*-24-*-*-*-*-*-iso10646-*


! ---------------------------------------------------------------------
! Beamerfarben fuers XTerm

xterm-beamer*font: -xos4-terminus-medium-*-*-*-24-*-*-*-*-*-iso10646-*
xterm-beamer*cursorColor: white
xterm-beamer*background: white
xterm-beamer*foreground: black


! ---------------------------------------------------------------------
! Retro-Terminal

xterm-retro*termName: vt100
xterm-retro*faceName: Glass TTY VT220:pixelsize=20
xterm-retro*cursorColor: #FFA200
xterm-retro*background: black
xterm-retro*foreground: #FFA200
xterm-retro*showBlinkAsBold: true
xterm-retro*colorMode: false
xterm-retro*cursorBlink: true
xterm-retro*cursorOnTime: 750
xterm-retro*cursorOffTime: 750
xterm-retro*saveLines: 0
xterm-retro*internalBorder: 0


! ---------------------------------------------------------------------
! Mosaic

Mosaic*homeDocument: gopher:\/\/uninformativ.de
Mosaic*confirmExit: false
