! ---------------------------------------------------------------------
! Excerpt from "man xrdb":
!
!       SRVR_name
!               the  SERVERHOST  hostname  string  turned  into a legal
!               identifier.  For example, "my-dpy.lcs.mit.edu"  becomes
!               SRVR_my_dpy_lcs_mit_edu.
!
! So, if you want to apply some settings only to a certain machine, do
! it that way:
!
! #ifdef SRVR_jupiter
! ... only on host jupiter ...
! #else
! #endif
!
! This is easier than using SERVERHOST directly because there is no need
! to define a symbol for each host.
!


! ---------------------------------------------------------------------
! Mauszeiger

Xcursor.theme: default
Xcursor.theme_core: true
Xcursor.size: 16


! ---------------------------------------------------------------------
! XTerm

! Just for floating mode.
XTerm.vt100.geometry: 80x24

! I do not want to re-login to re-load my bash settings.
XTerm*loginShell: true

! Bell settings.
XTerm*bellIsUrgent: true

! Scrolling.
XTerm*saveLines: 50000
XTerm*allowScrollLock: true

! Scrollbar.
XTerm.vt100.rightScrollBar: true
XTerm.vt100.scrollbar.thickness: 20
XTerm.vt100.scrollbar.background: #000000
XTerm.vt100.scrollbar.foreground: #333333

! Bei Alt+Enter nicht in Fullscreen gehen. Für solche Funktionen ist der
! Window Manager zuständig und ich haue ständig fälschlicherweise
! drauf...
XTerm*omitTranslation: fullscreen

XTerm.vt100.faceName:  DejaVu Sans Mono
XTerm.vt100.faceSize:  9
XTerm.vt100.faceSize1: 4
XTerm.vt100.faceSize2: 6
XTerm.vt100.faceSize3: 9
XTerm.vt100.faceSize4: 12
XTerm.vt100.faceSize5: 16
XTerm.vt100.faceSize6: 20

! Colors, based on a theme by Thayer:
XTerm.vt100.background:  #000000
XTerm.vt100.foreground:  #aaaaaa
XTerm.vt100.cursorColor: #8CFF00
! Black
XTerm.vt100.color0:      #0e0e0e
XTerm.vt100.color8:      #555753
! Red
XTerm.vt100.color1:      #ff6565
XTerm.vt100.color9:      #cf0000
! Green
XTerm.vt100.color2:      #93d44f
XTerm.vt100.color10:     #00cf00
! Yellow
XTerm.vt100.color3:      #eab93d
XTerm.vt100.color11:     #ffc123
! Blue
XTerm.vt100.color4:      #204a87
XTerm.vt100.color12:     #3465a4
! Mangenta
XTerm.vt100.color5:      #ce5c00
XTerm.vt100.color13:     #f57900
! Cyan
XTerm.vt100.color6:      #89b6e2
XTerm.vt100.color14:     #46a4ff
! White
XTerm.vt100.color7:      #cccccc
XTerm.vt100.color15:     #ffffff

! Bold wie am Linux VT: Grundsätzlich gibt es keine fetten Zeichen (die
! sehen mit dem VGA-Font furchtbar aus bzw. gehen mit kleinem Terminus
! gar nicht). Wurde explizit eine Farbe gesetzt und dann noch bold, dann
! nimm die "Bold-Farbe" (alte Farbe + 8). Wurde gar keine Farbe gesetzt,
! nimm weiß (= Farbe 15).
XTerm.vt100.boldMode:     false
XTerm.vt100.colorBDMode:  true
XTerm.vt100.colorBD:      #FFFFFF

! Easier to see on my old screen.
XTerm.vt100.pointerColor: red

! UTF-8 im Titel:
XTerm*utf8Title: 1

! Unbedingt notwendig, sonst ist Alt+<key> = ä oder so
XTerm*metaSendsEscape: true

! Gib der Welt bescheid, dass du 256 Farben kannst
XTerm*termName: xterm-256color

! Keybindings:
XTerm.vt100.Translations: #override \
		Ctrl Shift<Key>c: copy-selection(CLIPBOARD) \n\
		Ctrl Shift<Key>v: insert-selection(CLIPBOARD) \n\
		Shift<Key>Prior: scroll-back(1,halfpage) \n\
		Shift<Key>Next: scroll-forw(1,halfpage) \n\
		Shift<Key>Up: scroll-back(1,line) \n\
		Shift<Key>Down: scroll-forw(1,line) \n\
		Ctrl<Key>plus: larger-vt-font() \n\
		Ctrl<Key>minus: smaller-vt-font() \n

! URLs
XTerm*on2Clicks: regex [^/@ \n]+
XTerm*on3Clicks: regex [^ \n]+
XTerm*on4Clicks: regex [^#$]+
XTerm*on5Clicks: line


! ---------------------------------------------------------------------
! XTerm that runs when screen is locked

xterm-lock*pointerColor: #000000
xterm-lock*pointerColorBackground: #000000
xterm-lock*foreground: #A6E22E


! ---------------------------------------------------------------------
! Different flavours of mcabber

xterm-tac-jabber-support*background: #001133
xterm-tac-jabber-support*color0: #001133

xterm-tac-jabber-hipchat*background: #202020
xterm-tac-jabber-hipchat*color0: #202020


! ---------------------------------------------------------------------
! Retro-Terminal

xterm-retro*termName: vt100
xterm-retro*font: -*-vga-*-*-*-*-*-*-*-*-*-*-iso10646-*
xterm-retro*cursorColor: #FFA200
xterm-retro*background: black
xterm-retro*foreground: #FFA200
xterm-retro*showBlinkAsBold: true
xterm-retro*colorMode: false
xterm-retro*cursorBlink: true
xterm-retro*cursorOnTime: 750
xterm-retro*cursorOffTime: 750
xterm-retro*saveLines: 0
xterm-retro*internalBorder: 0
xterm-retro*pointerMode: 2


! ---------------------------------------------------------------------
! Mosaic

Mosaic*homeDocument: gopher:\/\/uninformativ.de
Mosaic*confirmExit: false
