[Unit]
Description=Enable WOL via ethtool
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ethtool -s %i wol g
TimeoutSec=0

[Install]
WantedBy=multi-user.target
