[Unit]
Description=FritzBox Call Monitor (as user %i)
After=network.target

[Service]
Type=simple
PIDFile=/run/fritzmon.pid
ExecStart=/home/void/bin/fritzmon

# Benötigt, damit Auflösung von Nummern mit persönlichem Adressbuch
# klappt.
User=%i

[Install]
WantedBy=multi-user.target
