[Unit]
Description=Apply powersave settings

[Service]
Type=simple
ExecStart=/home/void/bin/netbook-powersave
TimeoutSec=0

[Install]
WantedBy=multi-user.target
